* { box-sizing: border-box; }

body {
	background-color: #fffeea;
	color: #34495e;
}

.title {
	background-color: pink;
	width: 100%;
	text-align: center;
	position: fixed;
	margin-top: 70px;
}

.title h1 {
	font-family: 'Cabin Sketch', serif;
	font-size: 3em;
	text-shadow: 1px 1px #FFBF00;
	margin: 5px 0px;
}

.column {
	display: inline-block;
	float: left;
	width: 33.333333333%;
	margin-top: 200px;
}

.skill, .intro {
	padding: 0 20px;
}

.skill {
	background-color: #5AD4C2;
	color: #fff;
	padding-top: 20px;
	padding-bottom: 25px;
}

.intro p,
.intro h2 {
	padding: 10px;
}

img {
	width: 100%;
	border: 3px groove black;
}

.main-text {
	clear: both;
	padding-top: 60px;
}

#skill-list {
	margin-left: 50px;
}

/*Navigation-Menu*/

.nav {
	background-color: #003333;
	position: fixed;
	top: 0;
	width: 100%;
}

.nav ul{
	
	margin-top: 0px;
	list-style: none;
}

.nav ul li {
	display: inline-block;
	padding: 20px 10px;
	font-variant: small-caps;
	letter-spacing: 0.05em;
	float: right;
	margin-right: 30px;
}

.nav ul li a {
	text-decoration: none;
	font-size: 22px;
	color: white;
	transition: color 600ms;
	-webkit-transition: color 600ms;
}

.nav>a {
	display: inline-block;
	padding: 20px 10px;
	font-variant: small-caps;
	letter-spacing: 0.05em;
	text-decoration: none;
	font-size: 22px;
	color: white;
	float: left;
	margin-left: 30px;
	transition: color 600ms;
	-webkit-transition: color 600ms;
}

.nav a:hover {
	font-variant: none;
	color: #ff0;
}

/*Typography*/

h1,
h2,
h3 {
  font-family: Futura, Helvetica, Arial, sans-serif;
}

p,
li,
a {
	font-family: Georgia, Book Antiqua, Palatino, serif;
}

.intro p {
	font-family: Futura, Helvetica, Arial, sans-serif;
	font-size: 3em;
	font-weight: 100;
	-webkit-margin-before: 0;
	margin-top: 0;
}

.skill h3 {
	text-align: center;
	text-transform: uppercase;
}


