/*Contact Me Styles*/

* {box-sizing: border-box;}

body {
	background-color: #F9F3C5;
	color: #34495e;
  position: relative;
}

#portfolio {
	margin-top: 25px;
}

.title {
	/*background-color: #592941;*/
	text-align: center;
	color: black;
	height: 70px;
	border-bottom: 3px solid #003333;
	border-top: 3px solid #003333;
}

.title h1 {
	font-family: 'Macondo', serif;
	font-size: 3em;
	text-shadow: 1px 1px #FCB05F;
	margin: 5px 0px;
	line-height: 60px;
	width: 100%
}

#about,
#work, 
#faq, 
#contact {
	margin-left: -15px;
	margin-right: -15px;
	margin-bottom: 50px;
}

/*Contact Styles*/
#contact{
	/*Add a background image*/
    background-image: url("../img/urban.jpg");
	/*Give the background a fixed position does it not scroll when you scroll*/
    background-attachment: fixed;
   /*Have the background cover the entire div section*/
    background-size: cover;
	
    padding-top: 0;
    height: 500px;
		text-align: left;
		font-family: 'Philosopher', sans-serif;
		font-size: 1.5em;
}

.contact-info {
	margin-top: 50px;
	padding-left:100px;
	color: white;
	text-shadow: 1px 1px black;
	font-weight: 900;
}

.contact-info span:hover {
	color: #990000;
}

/*Navigation-Menu*/

.navbar {
	padding: 10px;
}

.projectName a {
	color: white;
	text-decoration: none;
	font-family: 'Overlock SC', serif;
	text-transform: uppercase;
	font-weight: 100;
	font-size: 1em;
}

.navbar {
	background-color: #003333;
}


/*.nav ul{	
	margin-top: 0px;
	list-style: none;
}*/

.navbar ul li {
	font-variant: small-caps;
}

.navbar ul li a {
	text-decoration: none;
	font-size: 22px;
	color: white;
	transition: color 600ms;
	-webkit-transition: color 600ms; 
}

.navbar ul li a {
	
	font-variant: small-caps;
	font-size: 22px;
	color: white;
	transition: color 600ms;
	-webkit-transition: color 600ms;
}

.navbar a:hover {
	/*font-variant: none;*/
	color: #ff0;
}

li, .nav>a {
	font-family: Georgia, Book Antiqua, Palatino, serif;
}

.anchor {
	padding-top: 60px;
}

#contact {
margin-top: 60px;
margin-bottom: 0px;
}

/*FAQ Styles*/

.panel-body,
.panel-title {
	font-family: 'Lato';
}

.panel-default>.panel-heading {
	background-color: #B1EDA6;
}

/*Carousel*/

.carousel-caption h3 {
	font-size: 1.2em;
}

.quote-display {
	font-family: 'Allura';
	font-size: 1.5em;
}

#carousel-example-generic {
	margin-top: 71px;
}

.item img {
	max-height: 500px;
}

.carousel {
	margin-left: -15px;
	margin-right: -15px;
}

/*Grid*/

#work h2 {
	text-align: center;
	margin: 30px 0 ;
}

.box img {
		padding: 15px 5px;
	}

@media (max-width: 768px) {
	.box img {
		margin: 30px auto;
	}

	#work h2{
		margin: 30px 0 20px;
	}
}

/*about page*/

}

#image {
	max-width: 400px;
	margin-top: 50px;
		}

#skill, #intro {
	padding: 0 20px;
}

#skill {
	background-color: #5AD4C2;
	padding-top: 20px;
	padding-bottom: 25px;
	text-align: center;
}

#skill li {
	font-family: 'Lato';
}

#intro p,
#intro h2 {
	padding: 10px;
	font-family: 'Lato';
}

.col-md-4 img {
	width: 100%;
	border: 3px groove black;
}

.main-text {
	padding-top: 40px;
}

#skill-list {
	font-family: 
}

/*Typography*/

h1,
h2,
h3 {
  font-family: Futura, Helvetica, Arial, sans-serif;
}


#skill h3 {
	text-align: center;
	text-transform: uppercase;
}



