/*Contact Me Styles*/

* {box-sizing: border-box;}

body {
	background-color: #fffeea;
	color: #34495e;
}

#portfolio {
	margin-top: 25px;
}

.title {
	background-color: pink;
	width: 100%;
	text-align: center;
	position: fixed;
	margin-top: 70px;
	z-index: 1;
}

.title h1 {
	font-family: 'Cabin Sketch', serif;
	font-size: 3em;
	text-shadow: 1px 1px #FFBF00;
	margin: 5px 0px;
}

.bird-box {
	margin-top: 200px;
	height: 200px;
	width: 500px;
	padding: 20px;
	border: 3px solid #604C50;
	border-radius: 2%;
	background-image: url("../img/flight.jpg");
	text-align: right;
	font-family: 'Philosopher', sans-serif;
	font-size: 1.5em;
	color: #6D595F;
	float: left;
}

.bird-box h3 {
	margin-top: 0;
}

.bird-box p {
	font-size: 0.8em;
}

.contact-info {
	margin-top: 200px;
	margin-left: 20px;
	height: 200px;
	width: 500px;
	background-color: white;
	float: left;
	padding: 20px;
	border: 3px solid #604C50;
	border-radius: 2%;
	font-family: 'Philosopher', sans-serif;
	font-size: 1.5em;
	color: #6D595F;
}

.contact-info span:hover,
.bird-box span:hover {
	color: #990000;
}


/*Navigation-Menu*/

.nav {
	background-color: #003333;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1;
}

.nav ul{	
	margin-top: 0px;
	list-style: none;
}

.nav ul li {
	display: inline-block;
	padding: 20px 10px;
	font-variant: small-caps;
	letter-spacing: 0.05em;
	float: right;
	margin-right: 30px;
}

.nav ul li a {
	text-decoration: none;
	font-size: 22px;
	color: white;
	transition: color 600ms;
	-webkit-transition: color 600ms;
}

.nav>a {
	display: inline-block;
	padding: 20px 10px;
	font-variant: small-caps;
	letter-spacing: 0.05em;
	text-decoration: none;
	font-size: 22px;
	color: white;
	float: left;
	margin-left: 30px;
	transition: color 600ms;
	-webkit-transition: color 600ms;
}

.nav a:hover {
	font-variant: none;
	color: #ff0;
}

li, .nav>a {
	font-family: Georgia, Book Antiqua, Palatino, serif;
}

/*FAQ Styles*/

.panel-group {
	margin-top: 150px;
}

.panel-body,
.panel-title {
	font-family: 'Lato';
}

.panel-default>.panel-heading {
	background-color: #B1EDA6;
}

/*Carousel*/

.carousel-caption h3 {
	font-size: 1.2em;
}

.quote-display {
	font-family: 'Allura';
	font-size: 1.5em;
}

#carousel-example-generic {
	margin-top: 71px;
}

.item img {
	max-height: 500px;
}

.carousel {
	margin-left: -15px;
	margin-right: -15px;
}

/*Grid*/

#work h2 {
	text-align: center;
	margin: 30px 0 ;
}

.box img {
		padding: 15px 5px;
	}

@media (max-width: 768px) {
	.box img {
		margin: 30px auto;
	}

	#work h2{
		margin: 30px 0 20px;
	}
}

/*about page*/

@media (min-width: 768px) {
	#intro {
	margin-top: 200px;
	}	
}

@media (max-width: 992px) {
	#skill {
	margin-top: 50px;
	}
}

@media (min-width: 992px) {
	#skill {
	margin-top: 200px;
	}
}

@media (max-width: 768px) {
	#image, #intro, #skill {
		margin: 0 auto;
	}
	#intro {
		text-align: center;
	}
}

#image {
	max-width: 400px;
	margin-top: 200px;
		}

#skill, #intro {
	padding: 0 20px;
}

#skill {
	background-color: #5AD4C2;
	padding-top: 20px;
	padding-bottom: 25px;
	text-align: center;
}

#skill li {
	font-family: 'Lato';
}

#intro p,
#intro h2 {
	padding: 10px;
	font-family: 'Lato';
}

.col-md-4 img {
	width: 100%;
	border: 3px groove black;
}

.main-text {
	padding-top: 40px;
}

#skill-list {
	font-family: 
}

/*Typography*/

h1,
h2,
h3 {
  font-family: Futura, Helvetica, Arial, sans-serif;
}


#skill h3 {
	text-align: center;
	text-transform: uppercase;
}


